@import "../../../styles/variables.scss";

.deal-details-container {
  width: 40%;
  margin: 40px auto;

  mat-card-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .deal-info {
      font-weight: bold;
    }
  }
  img {
    width: 70%;
    margin: 0 auto;
  }

  .details-actions {
    background-color: $primary-color;
    color: $neutral-color;
  }
}
